/* Estilos do portal Edebê adaptativa*/
body{
    background-color:#F2F2F2;
}


/*=========================================================
Sidebar
=========================================================*/

.adap-sidebar{
    width:264px;   
    height: calc(100% - 60px);
    color:#505050;
    padding-bottom:48px;
    /* transition: width 0.3s; */
}


/* .adap-sub-itens{
    transition: opacity 3s;
    opacity: 0;
}
.adap-sidebar-item-desc{
    display: inline-block;
    transition: opacity 3s;
    opacity:0;
} */

/* .adap-sidebar::-webkit-scrollbar {
    width: 8px;
} */
/*
.adap-sidebar::-webkit-scrollbar-button {
    background: white
}

.adap-sidebar::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius:2px;
}​ */


.adap-sidebar-fix{
    margin-left:264px;
}

.adap-sidebar-collapsed .adap-sidebar-fix{
    margin-left:56px;
}

@media (max-width: 993px){
    .adap-sidebar-fix{
        margin-left:0 !important;
    }

    .adap-sidebar-collapsed .adap-sidebar{
        display: none;
    }
}


.adap-sidebar .edb-bar-item{
    font-size:14px;
    padding: 13px 4px 14px 16px;
    position: relative;
}

.adap-sidebar .edb-bar-item .fas{
    width:18px;
    text-align: center;
}

/*Side bar somente com os ícones (Apenas Dektop) */
.adap-sidebar-collapsed .adap-sidebar{
    width:56px;
    overflow-y: hidden;
}
.adap-sidebar-collapsed .adap-sidebar-item-desc{
    display: none;
    /* opacity: 0; 
    height: 0;
    width:0;
    overflow: hidden; */
}
.adap-sidebar-collapsed .adap-sub-itens{
    display: none;
    
    /* opacity: 0; 
    height: 0;
    width:0;
    overflow: hidden; */
}

/*Ajuste do contador do ícone de notificação para ficar visivel mesmo com o sidebar fechado*/
.adap-sidebar-collapsed .adap-sidebar .adap-badge{
    position: absolute;
    left: 24px;
    top: 4px;
}

/* Ao passar o mouse, retorna para o tamanho normal e exibe as descrições*/
.adap-sidebar-collapsed .adap-sidebar:hover{
    width:264px;
    overflow-y: auto;
}
.adap-sidebar-collapsed .adap-sidebar:hover .adap-sidebar-item-desc{
    display: inline-block;
    /* opacity: 1;
    height: auto;
    width:auto; */
}
.adap-sidebar-collapsed .adap-sidebar:hover .adap-sub-itens{
    display: block;
    /* opacity: 1;
    height: auto;
    width:auto; */
}
.adap-sidebar-collapsed .adap-sidebar:hover .adap-badge{
    position: initial;
    left: initial;
    top: initial;
}



/*=========================================================
Elementos
=========================================================*/

.adap-notification-badge{
    background-color:#FF0093;
    position: absolute;
    right: 8px;
    top: 12px;
}

.adap-badge{
    width: 22px;
    height: 22px;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    font-weight: bold;
    border-radius:50%;
    display: inline-block;
    text-align: center;
    padding-top: 1px;
}

.adap-card{
    background-color:white;
    color: #707070;
    min-height: 364px;
}

.adap-card header{
    position:relative;
}

@media (max-width: 993px){
    .adap-card{
        border-top: none !important;
        border-left-width: 4px;
        border-left-style: solid;
        margin-left:0!important;
        margin-right:0!important;
        padding-top:2px;
        min-height: auto;
    }

    .edb-container{
        padding-left:8px!important;
        padding-right:8px!important;
    }

    .adap-main-container{
        padding-left:2px!important;
        padding-right:2px!important;
    }
}

.adap-scroll-horizontal{
    overflow-x: auto;
    min-height: 100px;
    white-space: nowrap;
}

/**** Card Agenda  *****/
.adap-agenda-header{
    padding:6px;
}
.adap-agenda-dia{
    height: 40px;
    width: 40px;
    text-align: center;
}

.adap-agenda-dia:hover{
    background-color: #c6c6c6;
}

.adap-agenda-dias{
    width: 40px;
}

.adap-agenda-container{
    position: relative;
}
.adap-agenda-seta{
    position: absolute;
    bottom:8px;
    left:96px;
}

/**** Card Livros Recentes *****/
.adap-card-livros .adap-scroll-horizontal{
    height: 196px;
}

/**** Card Adaptativa *****/
.adap-card-adaptativa .adap-scroll-horizontal{
    height: 128px;
}
.adap-card-adaptativa .adap-scroll-horizontal img{
    vertical-align: top;
}

.adap-card-adaptativa .adap-estudo-desc{
    width:142px;
    white-space: normal;
}

/**** Card Avaliações *****/
.adap-card-avaliacoes table td{
    padding:2px !important;
}
.adap-card-avaliacoes table th{
    padding: 4px 2px  !important;
}

.adap-card-avaliacoes .adap-scroll-horizontal{
    height: 216px;
}

.adap-card-avaliacoes .adap-avaliacao-item{
    width:142px;
    white-space: normal;
    display: inline-block;
    min-height: 192px;
}

.adap-card-avaliacoes .adap-avaliacao-item img{
    height: 40px;
}

.adap-card-avaliacoes .adap-data-inativa{
    opacity:0.6;
    border: 2px solid lightgray;
    border-radius:6px;
    padding: 0px 4px !important;
}

.adap-card-avaliacoes .tag-situacao{
    width:80px;
}

/**** Cabeçalho portal interno Adaptativa*****/
.adap-main-header{
    background-color:green;
    height: 150px;
    width:100%;
    position: relative;
    background-image: url('/images/fundo.jpg');
    background-size: cover;
}

.adap-main-header .adap-camaleao{
    margin-top:-8px;
}

.adap-main-header .adap-hero-title{
    font-size: 50px;
    font-weight: bolder;
    color:white;
    position: absolute;
    bottom:4px;
    left:168px;
    text-shadow: 0 3px 6px rgba(0,0,0,0.44);
}

/*=========================================================
 Modificadores
=========================================================*/

/**** text color *****/
.adap-text-light-gray{
    color:#EDEBEE;
}
.adap-text-darkgray{
    color: #707070;
}
.adap-text-green{
    color:#22BB66
}
.adap-text-yellow{
    color:#EEBB11!important;
}
.adap-text-red{
    color:#BB3322!important;
}


/**** border color *****/

.adap-border-green{
    border-color:#22BB66!important;
}
.adap-border-yellow{
    border-color:#EEBB11!important;
}
.adap-border-blue{
    border-color:#3388BB!important;
}

.adap-border-red{
    border-color:#BB3322!important;
}

/**** background color *****/
.adap-light-gray{
    background-color:#EDEBEE;
}
.adap-gray{
    background-color:#DDDDDD;
}
.adap-green{
    background-color:#22BB66!important;
    color:white;
}
.adap-yellow{
    background-color:#EEBB11!important;
    color:white;
}
.adap-red{
    background-color:#BB3322!important;
    color:white;
}
.adap-blue{
    background-color:#3388BB!important;
    color:white;
}













