.dashboard-chart svg {
    float: left;
}

.dashboard-chart table {
    float: left;
    margin-left: 8px;
}

.dashboard-chart {
    font-size: 10px;
}

.gauge-chart .label{
    font-size: 12px;
}