﻿/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:"SF Pro Display","Roboto",sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.edb-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"SF Pro Display","Roboto",Arial,sans-serif;font-weight:400;margin:10px 0}.edb-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.edb-image{max-width:100%;height:auto;object-fit: cover}img{vertical-align:middle}a{color:inherit}
.edb-table,.edb-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.edb-table-all{border:1px solid #ccc}
.edb-bordered tr,.edb-table-all tr{border-bottom:1px solid #ddd}.edb-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.edb-table-all tr:nth-child(odd){background-color:#fff}.edb-table-all tr:nth-child(even){background-color:#f1f1f1}
.edb-hoverable tbody tr:hover,.edb-ul.edb-hoverable li:hover{background-color:#ccc}.edb-centered tr th,.edb-centered tr td{text-align:center}
.edb-table td,.edb-table th,.edb-table-all td,.edb-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.edb-table th:first-child,.edb-table td:first-child,.edb-table-all th:first-child,.edb-table-all td:first-child{padding-left:16px}
.edb-btn,.edb-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.edb-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.edb-btn,.edb-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.edb-disabled,.edb-btn:disabled,.edb-button:disabled{cursor:not-allowed;opacity:0.3}.edb-disabled *,:disabled *{pointer-events:none}
.edb-btn.edb-disabled:hover,.edb-btn:disabled:hover{box-shadow:none}
.edb-badge,.edb-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.edb-badge{border-radius:50%}
.edb-ul{list-style-type:none;padding:0;margin:0}.edb-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.edb-ul li:last-child{border-bottom:none}
.edb-tooltip,.edb-display-container{position:relative}.edb-tooltip .edb-text{display:none}.edb-tooltip:hover .edb-text{display:inline-block}
.edb-ripple:active{opacity:0.5}.edb-ripple{transition:opacity 0s}
.edb-input{padding:8px;display:block;border:none;border:1px solid #ccc;width:100%}
.edb-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.edb-dropdown-click,.edb-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.edb-dropdown-hover:hover .edb-dropdown-content{display:block}
.edb-dropdown-hover:first-child,.edb-dropdown-click:hover{background-color:#ccc;color:#000}
.edb-dropdown-hover:hover > .edb-button:first-child,.edb-dropdown-click:hover > .edb-button:first-child{background-color:#ccc;color:#000}
.edb-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.edb-check,.edb-radio{width:24px;height:24px;position:relative;top:6px}
.edb-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.edb-bar-block .edb-dropdown-hover,.edb-bar-block .edb-dropdown-click{width:100%}
.edb-bar-block .edb-dropdown-hover .edb-dropdown-content,.edb-bar-block .edb-dropdown-click .edb-dropdown-content{min-width:100%}
.edb-bar-block .edb-dropdown-hover .edb-button,.edb-bar-block .edb-dropdown-click .edb-button{width:100%;text-align:left;padding:8px 16px}
.edb-main,#main{transition:margin-left .4s}
.edb-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.edb-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.edb-bar{width:100%;overflow:hidden}.edb-center .edb-bar{display:inline-block;width:auto}
.edb-bar .edb-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.edb-bar .edb-dropdown-hover,.edb-bar .edb-dropdown-click{position:static;float:left}
.edb-bar .edb-button{white-space:normal}
.edb-bar-block .edb-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.edb-bar-block.edb-center .edb-bar-item{text-align:center}.edb-block{display:block;width:100%}
.edb-responsive{display:block;overflow-x:auto}
.edb-container:after,.edb-container:before,.edb-panel:after,.edb-panel:before,.edb-row:after,.edb-row:before,.edb-row-padding:after,.edb-row-padding:before,
.edb-cell-row:before,.edb-cell-row:after,.edb-clear:after,.edb-clear:before,.edb-bar:before,.edb-bar:after{content:"";display:table;clear:both}
.edb-col,.edb-half,.edb-third,.edb-twothird,.edb-threequarter,.edb-quarter{float:left;width:100%}
.edb-col.s1{width:8.33333%}.edb-col.s2{width:16.66666%}.edb-col.s3{width:24.99999%}.edb-col.s4{width:33.33333%}
.edb-col.s5{width:41.66666%}.edb-col.s6{width:49.99999%}.edb-col.s7{width:58.33333%}.edb-col.s8{width:66.66666%}
.edb-col.s9{width:74.99999%}.edb-col.s10{width:83.33333%}.edb-col.s11{width:91.66666%}.edb-col.s12{width:99.99999%}
@media (min-width:601px){.edb-col.m1{width:8.33333%}.edb-col.m2{width:16.66666%}.edb-col.m3,.edb-quarter{width:24.99999%}.edb-col.m4,.edb-third{width:33.33333%}
.edb-col.m5{width:41.66666%}.edb-col.m6,.edb-half{width:49.99999%}.edb-col.m7{width:58.33333%}.edb-col.m8,.edb-twothird{width:66.66666%}
.edb-col.m9,.edb-threequarter{width:74.99999%}.edb-col.m10{width:83.33333%}.edb-col.m11{width:91.66666%}.edb-col.m12{width:99.99999%}}
@media (min-width:993px){.edb-col.l1{width:8.33333%}.edb-col.l2{width:16.66666%}.edb-col.l3{width:24.99999%}.edb-col.l4{width:33.33333%}
.edb-col.l5{width:41.66666%}.edb-col.l6{width:49.99999%}.edb-col.l7{width:58.33333%}.edb-col.l8{width:66.66666%}
.edb-col.l9{width:74.99999%}.edb-col.l10{width:83.33333%}.edb-col.l11{width:91.66666%}.edb-col.l12{width:99.99999%}}
.edb-content{max-width:980px;margin:auto}.edb-rest{overflow:hidden}
.edb-cell-row{display:table;width:100%}.edb-cell{display:table-cell}
.edb-cell-top{vertical-align:top}.edb-cell-middle{vertical-align:middle}.edb-cell-bottom{vertical-align:bottom}
.edb-hide{display:none!important}.edb-show-block,.edb-show{display:block!important}.edb-show-inline-block{display:inline-block!important}
@media (max-width:600px){.edb-modal-content{margin:0 10px;width:auto!important}.edb-modal{padding-top:30px}
.edb-dropdown-hover.edb-mobile .edb-dropdown-content,.edb-dropdown-click.edb-mobile .edb-dropdown-content{position:relative}	
.edb-hide-small{display:none!important}.edb-mobile{display:block;width:100%!important}.edb-bar-item.edb-mobile,.edb-dropdown-hover.edb-mobile,.edb-dropdown-click.edb-mobile{text-align:center}
.edb-dropdown-hover.edb-mobile,.edb-dropdown-hover.edb-mobile .edb-btn,.edb-dropdown-hover.edb-mobile .edb-button,.edb-dropdown-click.edb-mobile,.edb-dropdown-click.edb-mobile .edb-btn,.edb-dropdown-click.edb-mobile .edb-button{width:100%}}
@media (max-width:768px){.edb-modal-content{width:500px}.edb-modal{padding-top:50px}}
@media (min-width:993px){.edb-modal-content{width:900px}.edb-hide-large{display:none!important}.edb-sidebar.edb-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.edb-hide-medium{display:none!important}}
@media (max-width:992px){.edb-sidebar.edb-collapse{display:none}.edb-main{margin-left:0!important;margin-right:0!important}}
.edb-top,.edb-bottom{position:fixed;width:100%;z-index:1}.edb-top{top:0}.edb-bottom{bottom:0}
.edb-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.edb-display-topleft{position:absolute;left:0;top:0}.edb-display-topright{position:absolute;right:0;top:0}
.edb-display-bottomleft{position:absolute;left:0;bottom:0}.edb-display-bottomright{position:absolute;right:0;bottom:0}
.edb-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.edb-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.edb-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.edb-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.edb-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.edb-display-container:hover .edb-display-hover{display:block}.edb-display-container:hover span.edb-display-hover{display:inline-block}.edb-display-hover{display:none}
.edb-display-position{position:absolute}
.edb-circle{border-radius:50%}
.edb-round-small{border-radius:2px}.edb-round,.edb-round-medium{border-radius:4px}.edb-round-large{border-radius:8px}.edb-round-xlarge{border-radius:16px}.edb-round-xxlarge{border-radius:32px}
.edb-row-padding,.edb-row-padding>.edb-half,.edb-row-padding>.edb-third,.edb-row-padding>.edb-twothird,.edb-row-padding>.edb-threequarter,.edb-row-padding>.edb-quarter,.edb-row-padding>.edb-col{padding:0 8px}
.edb-container,.edb-panel{padding:0.01em 16px}.edb-panel{margin-top:16px;margin-bottom:16px}
.edb-code,.edb-codespan{font-family:Consolas,"courier new";font-size:16px}
.edb-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #00A885;word-wrap:break-word}
.edb-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.edb-card,.edb-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.edb-card-4,.edb-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.edb-spin{animation:edb-spin 2s infinite linear}@keyframes edb-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.edb-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.edb-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.edb-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.edb-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.edb-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.edb-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.edb-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.edb-animate-input{transition:width 0.4s ease-in-out}.edb-animate-input:focus{width:100%!important}
.edb-opacity,.edb-hover-opacity:hover{opacity:0.60}.edb-opacity-off,.edb-hover-opacity-off:hover{opacity:1}
.edb-opacity-max{opacity:0.25}.edb-opacity-min{opacity:0.75}
.edb-greyscale-max,.edb-grayscale-max,.edb-hover-greyscale:hover,.edb-hover-grayscale:hover{filter:grayscale(100%)}
.edb-greyscale,.edb-grayscale{filter:grayscale(75%)}.edb-greyscale-min,.edb-grayscale-min{filter:grayscale(50%)}
.edb-sepia{filter:sepia(75%)}.edb-sepia-max,.edb-hover-sepia:hover{filter:sepia(100%)}.edb-sepia-min{filter:sepia(50%)}
.edb-tiny{font-size:10px!important}.edb-small{font-size:12px!important}.edb-medium{font-size:15px!important}.edb-large{font-size:18px!important}
.edb-xlarge{font-size:24px!important}.edb-xxlarge{font-size:36px!important}.edb-xxxlarge{font-size:48px!important}.edb-jumbo{font-size:64px!important}
.edb-left-align{text-align:left!important}.edb-right-align{text-align:right!important}.edb-justify{text-align:justify!important}.edb-center{text-align:center!important}
.edb-border-0{border:0!important}.edb-border{border:1px solid #ccc!important}
.edb-border-top{border-top:1px solid #ccc!important}.edb-border-bottom{border-bottom:1px solid #ccc!important}
.edb-border-left{border-left:1px solid #ccc!important}.edb-border-right{border-right:1px solid #ccc!important}
.edb-topbar{border-top:6px solid #ccc!important}.edb-bottombar{border-bottom:6px solid #ccc!important}
.edb-leftbar{border-left:6px solid #ccc!important}.edb-rightbar{border-right:6px solid #ccc!important}
.edb-section,.edb-code{margin-top:16px!important;margin-bottom:16px!important}
.edb-margin{margin:16px!important}.edb-margin-top{margin-top:16px!important}.edb-margin-bottom{margin-bottom:16px!important}
.edb-margin-left{margin-left:16px!important}.edb-margin-right{margin-right:16px!important}
.edb-padding-small{padding:4px 8px!important}.edb-padding{padding:8px 16px!important}.edb-padding-large{padding:12px 24px!important}
.edb-padding-16{padding-top:16px!important;padding-bottom:16px!important}.edb-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.edb-padding-32{padding-top:32px!important;padding-bottom:32px!important}.edb-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.edb-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.edb-left{float:left!important}.edb-right{float:right!important}
.edb-button:hover{color:#000!important;background-color:#ccc!important}
.edb-transparent,.edb-hover-none:hover{background-color:transparent!important}
.edb-hover-none:hover{box-shadow:none!important}
/* Colors */
.edb-amber,.edb-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.edb-aqua,.edb-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.edb-blue,.edb-hover-blue:hover{color:#fff!important;background-color:#249EB7!important}
.edb-light-blue,.edb-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.edb-brown,.edb-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.edb-cyan,.edb-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.edb-blue-grey,.edb-hover-blue-grey:hover,.edb-blue-gray,.edb-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.edb-green,.edb-hover-green:hover{color:#fff!important;background-color:#00A885!important}
.edb-light-green,.edb-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.edb-indigo,.edb-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.edb-khaki,.edb-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.edb-lime,.edb-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.edb-orange,.edb-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.edb-deep-orange,.edb-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.edb-pink,.edb-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.edb-purple,.edb-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.edb-deep-purple,.edb-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.edb-red,.edb-hover-red:hover{color:#fff!important;background-color:#D14841!important}
.edb-sand,.edb-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.edb-teal,.edb-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.edb-yellow,.edb-hover-yellow:hover{color:#fff!important;background-color:#e1a900!important}
.edb-white,.edb-hover-white:hover{color:#000!important;background-color:#fff!important}
.edb-black,.edb-hover-black:hover{color:#fff!important;background-color:#000!important}
.edb-grey,.edb-hover-grey:hover,.edb-gray,.edb-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.edb-light-grey,.edb-hover-light-grey:hover,.edb-light-gray,.edb-hover-light-gray:hover{color:#707070!important;background-color:#f1f1f1!important}
.edb-dark-grey,.edb-hover-dark-grey:hover,.edb-dark-gray,.edb-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.edb-pale-red,.edb-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.edb-pale-green,.edb-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.edb-pale-yellow,.edb-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.edb-pale-blue,.edb-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.edb-text-amber,.edb-hover-text-amber:hover{color:#ffc107!important}
.edb-text-aqua,.edb-hover-text-aqua:hover{color:#00ffff!important}
.edb-text-blue,.edb-hover-text-blue:hover{color:#249EB7!important}
.edb-text-light-blue,.edb-hover-text-light-blue:hover{color:#87CEEB!important}
.edb-text-brown,.edb-hover-text-brown:hover{color:#795548!important}
.edb-text-cyan,.edb-hover-text-cyan:hover{color:#00bcd4!important}
.edb-text-blue-grey,.edb-hover-text-blue-grey:hover,.edb-text-blue-gray,.edb-hover-text-blue-gray:hover{color:#607d8b!important}
.edb-text-green,.edb-hover-text-green:hover{color:#00A885!important}
.edb-text-light-green,.edb-hover-text-light-green:hover{color:#8bc34a!important}
.edb-text-indigo,.edb-hover-text-indigo:hover{color:#3f51b5!important}
.edb-text-khaki,.edb-hover-text-khaki:hover{color:#b4aa50!important}
.edb-text-lime,.edb-hover-text-lime:hover{color:#cddc39!important}
.edb-text-orange,.edb-hover-text-orange:hover{color:#ff9800!important}
.edb-text-deep-orange,.edb-hover-text-deep-orange:hover{color:#ff5722!important}
.edb-text-pink,.edb-hover-text-pink:hover{color:#e91e63!important}
.edb-text-purple,.edb-hover-text-purple:hover{color:#9c27b0!important}
.edb-text-deep-purple,.edb-hover-text-deep-purple:hover{color:#673ab7!important}
.edb-text-red,.edb-hover-text-red:hover{color:#D14841!important}
.edb-text-sand,.edb-hover-text-sand:hover{color:#fdf5e6!important}
.edb-text-teal,.edb-hover-text-teal:hover{color:#009688!important}
.edb-text-yellow,.edb-hover-text-yellow:hover{color:#d2be0e!important}
.edb-text-white,.edb-hover-text-white:hover{color:#fff!important}
.edb-text-black,.edb-hover-text-black:hover{color:#000!important}
.edb-text-grey,.edb-hover-text-grey:hover,.edb-text-gray,.edb-hover-text-gray:hover{color:#757575!important}
.edb-text-light-grey,.edb-hover-text-light-grey:hover,.edb-text-light-gray,.edb-hover-text-light-gray:hover{color:#f1f1f1!important}
.edb-text-dark-grey,.edb-hover-text-dark-grey:hover,.edb-text-dark-gray,.edb-hover-text-dark-gray:hover{color:#3a3a3a!important}
.edb-border-amber,.edb-hover-border-amber:hover{border-color:#ffc107!important}
.edb-border-aqua,.edb-hover-border-aqua:hover{border-color:#00ffff!important}
.edb-border-blue,.edb-hover-border-blue:hover{border-color:#249EB7!important}
.edb-border-light-blue,.edb-hover-border-light-blue:hover{border-color:#87CEEB!important}
.edb-border-brown,.edb-hover-border-brown:hover{border-color:#795548!important}
.edb-border-cyan,.edb-hover-border-cyan:hover{border-color:#00bcd4!important}
.edb-border-blue-grey,.edb-hover-border-blue-grey:hover,.edb-border-blue-gray,.edb-hover-border-blue-gray:hover{border-color:#607d8b!important}
.edb-border-green,.edb-hover-border-green:hover{border-color:#00A885!important}
.edb-border-light-green,.edb-hover-border-light-green:hover{border-color:#8bc34a!important}
.edb-border-indigo,.edb-hover-border-indigo:hover{border-color:#3f51b5!important}
.edb-border-khaki,.edb-hover-border-khaki:hover{border-color:#f0e68c!important}
.edb-border-lime,.edb-hover-border-lime:hover{border-color:#cddc39!important}
.edb-border-orange,.edb-hover-border-orange:hover{border-color:#ff9800!important}
.edb-border-deep-orange,.edb-hover-border-deep-orange:hover{border-color:#ff5722!important}
.edb-border-pink,.edb-hover-border-pink:hover{border-color:#e91e63!important}
.edb-border-purple,.edb-hover-border-purple:hover{border-color:#9c27b0!important}
.edb-border-deep-purple,.edb-hover-border-deep-purple:hover{border-color:#673ab7!important}
.edb-border-red,.edb-hover-border-red:hover{border-color:#D14841!important}
.edb-border-sand,.edb-hover-border-sand:hover{border-color:#fdf5e6!important}
.edb-border-teal,.edb-hover-border-teal:hover{border-color:#009688!important}
.edb-border-yellow,.edb-hover-border-yellow:hover{border-color:#e1a900!important}
.edb-border-white,.edb-hover-border-white:hover{border-color:#fff!important}
.edb-border-black,.edb-hover-border-black:hover{border-color:#000!important}
.edb-border-grey,.edb-hover-border-grey:hover,.edb-border-gray,.edb-hover-border-gray:hover{border-color:#9e9e9e!important}
.edb-border-light-grey,.edb-hover-border-light-grey:hover,.edb-border-light-gray,.edb-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.edb-border-dark-grey,.edb-hover-border-dark-grey:hover,.edb-border-dark-gray,.edb-hover-border-dark-gray:hover{border-color:#616161!important}
.edb-border-pale-red,.edb-hover-border-pale-red:hover{border-color:#ffe7e7!important}.edb-border-pale-green,.edb-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.edb-border-pale-yellow,.edb-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.edb-border-pale-blue,.edb-hover-border-pale-blue:hover{border-color:#e7ffff!important}




/* Personalizados */
a {text-decoration: none;}
input:focus, textarea:focus {outline:none;border: 1px #00A885 solid}
.ck-focused { border: 1px #00A885 solid !important; box-shadow: none !important;}
.edb-theme {color:#fff !important; background-color:#ff6000 !important} /*Vermelho Edebê*/

.edb-nav {z-index: 4}

.edb-margin-none {margin: 0 !important}.edb-margin-none-top{margin-top:0!important}.edb-margin-none-bottom{margin-bottom:0!important}
.edb-margin-none-left{margin-left:0!important}.edb-margin-none-right{margin-right:0!important}
.edb-margin-small{margin:8px!important}.edb-margin-small-top{margin-top:8px!important}.edb-margin-small-bottom{margin-bottom:8px!important}
.edb-margin-small-left{margin-left:8px!important}.edb-margin-small-right{margin-right:8px!important}
.edb-margin-large-top {margin-top:32px!important }.edb-margin-large-bottom {margin-bottom:32px!important }
.edb-margin-large-left {margin-left:32px!important }.edb-margin-large-right {margin-right:32px!important }

.edb-padding-none {padding: 0 !important}
.edb-padding-top {padding-top: 16px}.edb-padding-bottom {padding-bottom: 16px}
.edb-padding-left {padding-left: 16px}.edb-padding-right {padding-right: 16px}
.edb-padding-small{padding: 4px!important}
.edb-padding-small-top {padding-top: 4px!important}.edb-padding-small-bottom {padding-bottom: 4px!important}
.edb-padding-small-left {padding-left: 4px!important}.edb-padding-small-right {padding-right: 4px!important}
.edb-padding-large-top {padding-top: 32px!important}.edb-padding-large-bottom {padding-bottom: 32px!important}
.edb-padding-large-left {padding-left: 32px}.edb-padding-large-right {padding-right: 32px}

.edb-line-height-small{ line-height: 16px; }
.edb-line-height-medium{ line-height: 20px; }
.edb-text-bold{font-weight: bold;}
.edb-text-bolder{font-weight: bolder;}
.edb-select-none{
	user-select: none;
}
.edb-row-padding-large,.edb-row-padding-large>.edb-half,.edb-row-padding-large>.edb-third,.edb-row-padding-large>.edb-twothird,.edb-row-padding-large>.edb-threequarter,.edb-row-padding-large>.edb-quarter,.edb-row-padding-large>.edb-col{padding:0 16px}

@media (max-width: 993px){
	.edb-row-padding-none-mobile, .edb-row-padding-none-mobile .edb-col{
		padding-left:0;
		padding-right:0;
	}
}

.edb-width-45 {width:45px}

.edb-reset-child-width a {max-width: unset;width: auto;}
.edb-lineheight-default {line-height: initial;}
.edb-inline {display:inline-block;}
.edb-top-fix{margin-top: 64px;}

/* Quebra de linhas e palavra */
.edb-break-lines {white-space: normal;}
.edb-no-break-lines {white-space: nowrap;}
.edb-break-words {word-break: break-all;}
.edb-no-break-words {word-break: keep-all;}

.edb-plus-icon {
	background-color: #eee;
	border: 1px solid #999;
	border-radius: 4px;
	display: inline-block;
}
.edb-plus-icon::after{
	content: '+';
	font-size: 4rem;
	color: #999;
}


/* FlexBox */
/* Container */
.edb-flex {display: flex}
.edb-inline-flex {display: inline-flex;}
.edb-flex-row {display: flex;flex-flow: row;}
.edb-flex-column {display: flex;flex-flow: column;}
.edb-flex-wrap {display: flex;flex-wrap: wrap; }
.edb-flex-nowrap {display: flex;flex-wrap: nowrap; }
@media all and (max-width: 600px) {.edb-flex-column {clear: both;}}

/* Itens */
.edb-flex-vertical-center {align-self:center}
.edb-flex-self-end {align-self:flex-end;}
.edb-flex-self-start {align-self:flex-start;}
.edb-flex-grow1 {flex-grow: 1}
.edb-flexbasis-100 {flex-basis: 100%}
.edb-flex-flow-break:after, .edb-flex-flow-break:before {
	content: '';
	width: 100%;
}
.edb-flex-item {display: flex; padding: 8px 16px;}
a:hover.edb-flex-item {background-color: #ccc;}

/* Acordion */
.edb-acordion-negativeMargin {
	margin-left: -1rem;
	margin-right: -1rem;
	width: calc(100% + 2rem);
	border-top: 1px solid #E0DFDF;
	display: flex;
	justify-content: space-between;
}


/* Filter tag */
.edb-btn-filter-wrapper {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.edb-btn-filter-wrapper a {
	/*width: 100%;*/
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}
.edb-btn-filter-wrapper span {
	/*padding-top: 5px;*/
}
.edb-btn-filter-wrapper a:not(:last-child) {
	margin-right: 5px;
}
div[id*=-selecionado] {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}
div[id*=-selecionado]:last-child {
	padding-bottom: 1rem;
}

.edb-tab-btn-round{
	padding: 0.3rem 1rem !important;
	border: solid 1px #CCC !important;
	border-radius: 5px;
	margin-bottom: 0.5rem;
}
.edb-tab-btn-round:not(:last-child) {
	margin-right: 5px;
}
.edb-btn-filter-tag {
	cursor: default;
}
a.edb-btn-filter-tag , a.edb-btn-filter-tag-selected {
	padding: 0.3rem 1rem;
	border: solid 1px #CCC;
	border-radius: 5px;
}
a.edb-btn-filter-tag-selected, a.edb-btn-filter-tag-selected i{
	margin-left: 5px;
	margin-bottom: 5px;
}
a:hover.edb-btn-filter-tag , a:hover.edb-btn-filter-tag-selected {
	background-color: #00A885;
	color: #fff;
}




/* font awesome */
.edb-fa-ok:before {
	content: 'OK';
	font-family:"SF Pro Display","Roboto",sans-serif;
	font-size:14px;
	font-style: normal;
	font-weight: 700;
}